.body {
  display: flex;
  justify-content: center;
  width: 100%;
}
.sidebar {
  width: 20%;
  min-width: 200px;
  height: 100vh;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar ul {
  margin-top: 3rem;
  margin-left: -2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}
.sidebar ul li {
  width: 100%;
  margin-bottom: 1.2rem;
  color: black;
  font-weight: 600;
}
.sidebar ul li a {
  text-decoration: none;
  margin-left: 3rem;
  padding: 5px 0;
  color: black;
}
.sidebar ul li a:hover {
  color: purple;
  text-decoration: underline;
}
.active {
  color: purple;
  text-decoration: underline;
}

.pages {
  width: 80%;
}
#unread-mails-count {
  background-color: red;
  color: white;
  font-weight: 600;
  border-radius: 100px;
  padding: 1px 5px;
  font-size: 12px;
}
